.form {
  background-color: #f9f8fd;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin-bottom: 3px;
}

.taskInput {
  width: 250px;
  border: none;
}

.dateInput {
  width: 150px;
}

.addBtn {
  border: none;
  background-color: #91bcea;
  padding: 2px;
  background-color: aliceblue;
  border: 1px solid;
  border-radius: 5px;
}

.addBtn:hover {
  cursor: pointer;
  background-color: #81c2e1; /* Slightly darker blue on hover */
  border-color: #6ea9c1;
}
