.taskList_container {
  display: flex;
  width: 500px;
  flex-direction: column;
  padding: 5px;
}

.taskSearch_container {
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
